<!--<meta id="autoRefreshInterval" http-equiv="refresh" content="{{counter}}">-->
<meta charset="utf-8">

<style>
  h1 {
    font-family: Georgia;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: thin solid black;
  }

  th[sortable-column] {
    text-align: left;
    cursor: pointer;
  }
</style>

<body>
<!--HEADER-->
<header>
  <img src="https://s2.ax1x.com/2019/10/22/KGGvVS.png" alt="KGGvVS.png" border="0"/>
</header>
<!--CONTAINER START-->
<div class="container-fluid">
  <div class="row">
    <!--TITLE-->
    <h1>Long Running Deployment in CCv2</h1>
    <!--TIME REMAINS TILL NEXT AUTO REFRESH-->
    <!--<div class="input-group form-group">
      <span class="input-group-addon">Refresh every </span>
      <input class="form-control" type="text" name="refreshMinutes" [(ngModel)]="inputCountDownMinutes">
      <span class="input-group-addon">min</span>
      <span class="input-group-btn"><button type="button" class="btn btn-primary" [ngClass]="{'active':inputCountDownMinutes!==''}" [disabled]="inputCountDownMinutes==''"
                                            (click)="setCountDownMinutes()">SET</button></span>
    </div>
    <div class="alert alert-success" role="alert">
      <span>&#x26a0; By default, data automatically REFRESH every 5 min. Feel free to change this time setting.<p></p><h3>{{countDown | async | formatTime}}</h3></span>
    </div>-->
    <!--EXPORT CSV & ITEMS PER PAGE & TABLE DATA FILTER-->
    <div style="margin-bottom: 0.6rem; display: grid; grid-template-columns: 2fr 3fr 6fr 5fr;">
      <button type="button" class="btn btn-primary" (click)="exportCsv()" style="float: left">Export ALL data to csv</button>
      <div class="input-group form-group" style="margin-bottom: 0; float: right">
        &nbsp;&nbsp;
        <span class="input-group-addon">Items per page</span>
        <input class="form-control" type="text" name="itemsPerPage" [(ngModel)]="inputNumPerPage">
        <span class="input-group-btn"><button type="button" class="btn btn-primary" [ngClass]="{'active':inputNumPerPage!==''}" [disabled]="inputNumPerPage==''"
                                              (click)="setItemsPerPage()">SET</button></span>
      </div>
      <div></div>
      <div class="input-group form-group" style="margin-bottom: 0; float: right">
        <span class="input-group-addon">Search</span>
        <input class="form-control" type="text" name="search" placeholder="Filter all columns" [(ngModel)]="filter">
      </div>
    </div>
    <!--TABLE OF MONGODB DATA-->
    <div style="width: 100%; overflow-x: auto; margin-bottom: 1rem">
      <table sortable-table (sorted)="onSorted($event)" class="table table-hover table-dark">
        <thead>
        <tr>
          <th sortable-column="#" sort-direction="asc"> #</th>
          <th *ngFor="let key of getKeys(posts[0])">
            <span *ngIf="key != '#'" sortable-column={{key}} sort-direction="asc"> {{key}}</span>
          </th>
          <!--Object ID//DB Time//Changed File//Change Type//Customer ID//Customer Code//Customer Name//Env ID//Env Code//Env Name//
          Deployment ID//Failed Deployment//Deployment Started//Time Queried//Already Running In Minutes-->
        </tr>
        </thead>
        <tbody>
        <tr id="data_table_body"
          *ngFor="let post of posts | filter: filter | paginate: { itemsPerPage: numPerPage, currentPage: page }">
          <td>{{post['#']}}</td>
          <td *ngFor="let key of getKeys(post)">
            <span *ngIf="key != '#'">{{post[key]}}</span>
          </td>
        </tr>
        <!--MAX PAGE NUMBER-->
        <div *ngIf='posts | filter: filter as filteredItems'>
          <div id="filterResultCount" style="display: none; opacity: 0" >{{filteredItems.length}}</div>
        </div>
        </tbody>
      </table>
    </div>
    <!--TABLE DATA PAGINATION-->
    <div style="display: grid; grid-template-columns: 4fr 1fr 1fr;">
      <pagination-controls (pageChange)="page = $event" style="float: left"></pagination-controls>
      <div></div>
      <div class="input-group form-group" style="float: right">
        <input type="text" class="form-control" id="gotoPageNum" [(ngModel)]="gotoPageNum"/>
        <span class="input-group-btn"><button type="button" class="btn btn-primary" [ngClass]="{'active':gotoPageNum!==''}" [disabled]="gotoPageNum==''"
                                              (click)=gotoPage()>GOTO</button></span>
      </div>
    </div>
  </div>
</div>
<!--FOOTER-->
<footer>
  <p>SAP Commerce Cloud Product Support &copy; 2019</p>
</footer>

</body>
